// COLORS
$primary: #303849;
$light-primary: #444c5b;
$yellow: #f2c014;
$logo-yellow: #efbd14;
$light-gray: #f7f8f8;
$white: #ffffff;

// FONTS
$roboto: 'Roboto', sans-serif;
$anton: 'Anton', sans-serif;