@use '../basic/variables';

.contact {
  background-color: variables.$light-gray;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1250px) {
    padding-right: 1em;
    padding-left: 0;
    flex-direction: row;
    justify-content: flex-start;
  }

  img {
    width: 100%;
    max-width: 40em;
    margin-bottom: 2.5em;
    z-index: 1;

    @media (min-width: 1250px) {
      max-width: 50%;
    }

    @media (min-width: 1350px) {
      max-width: 45%;
    }
  }

  & .wrapper {
    width: 100%;
    max-width: 40em;

    @media (min-width: 1250px) {
      margin-left: 2em;
    }

    &__heading {
      margin-bottom: 4em;
      color: variables.$primary;
      width: 100%;

      h2 {
        margin-bottom: 0.5em;
        line-height: 5rem;

        span {
          color: variables.$yellow;
        }
      }

      p {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5rem;

        &::before {
          content: '';
          position: absolute;
          width: 5em;
          height: 1px;
          left: 0;
          bottom: -1.5em;
          background-color: variables.$yellow;
        }
      }
    }

    &__form {
      width: 100%;

      &__box {
        position: relative;
        width: 100%;
        margin-bottom: 2.5em;
        display: flex;
        justify-content: center;

        input,
        textarea {
          display: block;
          border: 1px solid #b4b4b4;
          width: 100%;
          padding: 1em;
          font-size: 1.5rem;
        }

        input:focus,
        textarea:focus {
          outline: none;
          border-color: variables.$yellow;
        }

        label {
          position: absolute;
          pointer-events: none;
          left: 0.8em;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.5s ease;
        }

        textarea {
          width: 100%;
        }

        input:focus + label,
        input:valid + label {
          opacity: 0.5;
          top: -40%;
        }

        textarea:focus + label,
        textarea:valid + label {
          top: -20%;

          @media (min-width: 600px) {
            top: -15%;
          }
        }
      }

      &__btn {
        padding: 1em 3em;
        border: none;
        background-color: variables.$yellow;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
  }
}
