@use '../basic/variables';

.footer {
  padding: 3em 1em;
  background-color: variables.$primary;
  color: variables.$white;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    display: block;
    color: variables.$yellow;
    font-family: variables.$anton;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1em;
  }

  &__contact {
    @media screen and (min-width: 800px) {
      display: flex;
      flex-wrap: wrap;
    }

    .contact__box {
      display: flex;
      align-items: center;
      border-bottom: 1px solid variables.$light-primary;
      margin-bottom: 1em;
      padding-bottom: 0.5em;

      @media screen and (min-width: 800px) {
        margin-right: 2em;
      }

      ion-icon {
        color: variables.$yellow;
        font-size: 2.5rem;
        margin-right: 0.5em;
      }

      a,
      p {
        padding: 1em;
      }

      p {
        line-height: 2rem;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
