@use '../basic/variables';
@import '../basic/animations.scss';

main {
  position: relative;
}

.slides {
  position: relative;
  width: 100vw;
  z-index: -1;
  width: 100vw;
  height: 80vh;

  &__slide {
    position: absolute;
    height: inherit;
    color: variables.$white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    transition: opacity 1s ease-in;

    &__first {
      opacity: 0;
      background: variables.$primary;
      background: url('../../src/img/vendor/hero_1_XL.jpg');
      background-size: cover;
      background-position: 30%;
    }

    &__second {
      opacity: 0;
      background: variables.$primary;
      background: url('../../src/img/vendor/hero_2_XL.jpg');
      background-size: cover;
      background-position: 50%;
    }

    &__third {
      opacity: 0;
      background: variables.$primary;
      background: url('../../src/img/vendor/hero_3_XL.jpg');
      background-size: cover;
      background-position: 40%;
    }

    &--active {
      opacity: 1;
    }

    &__desc {
      position: relative;
      text-align: center;
      margin-bottom: 9.5em;
      transform: translateY(-100%);
      opacity: 0;
      z-index: -1;

      &--active {
        animation-name: slide-in;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
      }

      &::before {
        content: 'SPAWANIE';
        font-family: 'Anton', sans-serif;
        color: rgba(238, 238, 238, 0.116);
        position: absolute;
        left: 0;
        top: 0.1em;
        right: 0;
        bottom: 0;
        font-size: clamp(6em, 25vw, 150em);
        z-index: -2;
      }

      h1 {
        margin-bottom: 0.5em;
        line-height: 1.1em;

        span {
          color: variables.$yellow;
        }
      }

      p {
        letter-spacing: 0.3em;
      }
    }
  }
}

.slides-nav {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;

  &__btn {
    width: 2em;
    height: 0.5em;
    background-color: variables.$white;
    margin-right: 0.5em;
    border-radius: 2em;
    color: variables.$white;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: variables.$yellow;
      color: variables.$yellow;
    }

    &--active {
      background-color: variables.$yellow;
    }
  }
}
