@use '../basic/variables';
@import '../basic/animations.scss';

main {
  position: relative;
  background-color: variables.$primary;

  @media screen and (min-width: 1100px) {
    .splide__pagination {
      bottom: 9em;
    }
  }
}

.splide__slide__desc {
  position: relative;
  top: 0;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;

  &--active {
    animation-name: slide-in;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  &::before {
    content: 'SPAWANIE';
    font-family: 'Anton', sans-serif;
    color: rgba(238, 238, 238, 0.116);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: clamp(6em, 20vw, 15em);
    z-index: -2;

    @media screen and (min-width: 1061px) {
      top: -0.2em;
    }
  }

  h1 {
    margin-bottom: 0.5em;
    line-height: 1.1em;
    color: variables.$white;

    span {
      color: variables.$yellow;
    }
  }

  p {
    letter-spacing: 0.3em;
    color: variables.$white;
  }
}
